/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  overflow-y: hidden;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* akhir header */

/* video */
video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  filter: brightness(40%);
  -webkit-filter: brightness(40%);
  z-index: -1;
}
/* akhir video */

/* content */
.content {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(2px);
  background: transparent;
}

.content h1 {
  text-align: center;
  letter-spacing: 3px;
  padding: 20px;
  font-family: 'roboto', sans-serif;
  color: white;
  font-size: 50px;
  font-weight: 600;
}

.content h3 {
  text-align: center;
  letter-spacing: 1.3px;
  padding: 25px 0 15px 0;
  font-family: sans-serif;
  color: white;
  font-size: 23px;
  font-weight: 300;
  text-transform: uppercase;
}

.content p {
  text-align: center;
  font-size: 16px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
}

.select-menu {
  width: 200px;
  height: 40px;
  margin: 15px auto;
}
.select-menu .select-btn {
  display: flex;
  height: 7px;
  background: #a49445;
  padding: 15px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 20px;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font-family: Arial, Helvetica, sans-serif;
}

.select-menu .options {
  position: relative;
  padding: 7px;
  margin-top: 10px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 00 3px rgba(0, 0, 0, 0.1);
  display: none;
}
.select-menu.active .options {
  display: block;
}
.options .option {
  display: flex;
  height: 10px;
  cursor: pointer;
  padding: 10px;
  align-items: center;
  border-radius: 8px;
  background: #a49445;
  border: 1px solid black;
  margin: 5px 0;
  justify-content: center;
}
.options .option:hover {
  background: #f2f2f2;
}

.option .option-text {
  font-size: 18px;
  color: #333;
  /* padding: 50px; */
}
/* akhir content */

.footer {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer button {
  padding: 10px 12px;
  border-radius: 30px;
  border: none;
  display: none;
  background: #333;
  color: white;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
